
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}


body{
    box-sizing: border-box;
    font-size: 62.5%;
    /* background-image: url(/Images/GradientHunt_blackVLue.png); */
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #051820, #11303a, #1d313a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #051820, #11303a, #1d313a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    margin: 10px;
}

.line{
    margin: 20px 0;
    width: 100vw;
    border-bottom: 4px solid black;
}


.search-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fav-container p{
    
    color: red;
    margin:auto;
    font-size: 1.5rem;
}

.fa-mask{
    color: rgb(22, 82, 22);
    font-size: 2rem;
    cursor: pointer;
    text-shadow: 0px 0px 6px rgb(7, 7, 7);
}

h1{
    color: #AAAAAA;
    margin-top: 10px;
    font-size: 2rem;
    font-family: 'Shojumaru', cursive;
    text-shadow: 0px 5px 2px rgb(179, 7, 7);
    
}

h1 .fa-heart{
   cursor: pointer;
}
/* a .fa-heart{
    font-size: 1.6rem;
    color: royalblue;
    border-radius: 1000%;
} */

.search-box{
    margin-top: 10px;
    display: flex;
    position: relative;
    width: 320px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid rgb(231, 211, 211);
    justify-content: center;
    outline: none;
    box-shadow: 5px 5px 15px black;
}
 #input{
    width: 320px;
    height: 38px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}

.fa-search{
    color: rgb(141, 50, 202);
    cursor: pointer;
}
button{
    position:absolute;
    right: 2px;
    top:5px;
    background-color: white;
    width: 30px;
    height: 80%;
    border-radius: 50%;
    font-size: 1.3rem;
    outline: none;
    border: none;
}
.heroes{
    display: flex;
    flex-flow: wrap;
    justify-content: center; 
    gap: 10px 20px; 
}

.pError{
    margin-top: 10rem;
    height: 200px;
    width: 100vw;
    font-size: 2rem;
    font-family: 'Architects Daughter', cursive;
}

.heros{
    margin: 5px;
}

img{
    width: 22rem;
    height: 30rem;
    border-radius: 2px;
    box-shadow: 0px 0px 50px rgb(89, 93, 93);
}


p{
    font-size: 1rem;
    text-align: center;
   
}



.search-page p{
    font-family: 'Aclonica', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #d3d3d3;
}

.info a{

    font-weight: 500;
    font-family: 'Gravitas One', cursive;
    cursor: pointer;
    color: #9e3f41;
}

.info a:hover{
    color: rgb(29, 204, 29);
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: coral;
}

.images span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favrt{
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 1s;
    
    font-size: 2rem;
}

.favrt:hover{
    color:#f5a94c;
}

.favrt2:hover{
    color:#e4e4e4;
}

/* Information */

.individual-content {
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: rgb(206, 206, 206); */
   
  }
  .cont {
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    background-color: rgb(2, 2, 1);
  }
  .fav-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .back {
    display: block;
    left: 0px;
    color: crimson;
  }

  .fav-container .back{
    display:block;
    left: 0px;
    color: crimson;
  }

  .fav-container .p_fav{
      /* display: flex; */
      display: block;
      margin: 0;
      height: 3rem;
      width: 100vw;
  }
  .M-name {
    text-align: center;
  }
  
  .contImg {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
  }
  
  .information {
    margin: auto;
    width: 70%;
  }
  
  li {
    display: flex;
    color: aliceblue;
    /* padding: 1px; */
    margin: 15px auto;
    flex-wrap: nowrap;
    justify-content:start;
    list-style-type: none;
  }
  
  
  details {
      border-radius: 4px;
      padding: .5em .5em 0;
      
  }
  
  details > summary {
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(44, 14, 44);
    color: darkturquoise;
  }
  
  
  .d-content {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
/* Information ends */

@media only screen and (max-width: 400px) {
    
    h1{
        color: #AAAAAA;
        margin-top: 10px;
        font-size: 1.6rem;
        font-family: 'Shojumaru', cursive;
    }
    img{
        width: 20rem;
        height: 28rem;
    }
  }
