*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    box-sizing: border-box;
    font-size: 62.5%;
   
}

.header{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* padding-top: 10px; */
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
    margin: 10px;
}

.line{
    /* display: block; */
    margin: 5px 0;
    width: 100vw;
    border-bottom: 4px solid black;
}



.content{
    /* box-sizing: border-box; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fav-container p{
    
    color: red;
    margin:auto;
    font-size: 1.5rem;
}

.fa-mask{
    color: rgb(44, 151, 116);
    font-size: 2rem;
}

h1{
    color: rgb(119, 5, 5);
    font-size: 2.2rem;
}

a .fa-heart{
    font-size: 1.6rem;
    color: royalblue;
    border-radius: 1000%;
}

.search-box{
    margin-top: 10px;
    display: flex;
    position: relative;
    width: 320px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid rgb(231, 211, 211);
    justify-content: center;
    outline: none;
    box-shadow: 5px 5px 5px black;
}
 #input{
    width: 320px;
    height: 38px;
    border-radius: 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    text-align: center;
}

.fa-search{
    color: rgb(141, 50, 202);
    cursor: pointer;
}
button{
    position:absolute;
    right: 2px;
    top:5px;
    background-color: white;
    width: 30px;
    height: 80%;
    border-radius: 50%;
    font-size: 1.3rem;
    outline: none;
    border: none;
}
.heroes{
    display: flex;
    /* flex-direction: column; */
    flex-flow: wrap;
    justify-content: center; 
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.heros{
    margin: 5px;
}
/* .images{
    width: 20rem;
    height: 10rem;
    margin: 20px 0  20px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgb(65, 63, 63);
} */

img{
    width: 22rem;
    height: 30rem;
}


p{
    font-size: 1rem;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.3rem;
    color: coral;
}

.images span{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favrt{
    cursor: pointer;
    color: rgb(90, 82, 5);
    font-size: 2rem;
}

/* Information */

.individual-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 206);
   
  }
  .cont {
    flex-wrap: wrap;
    width: 600px;
    justify-content: center;
    background-color: rgb(2, 2, 1);
  }
  .fav-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .back {
    display: block;
    left: 0px;
    color: crimson;
  }

  .fav-container .back {
    display:block;
    left: 0px;
    color: crimson;
  }
  .M-name {
    text-align: center;
  }
  
  .contImg {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 300px;
    height: 400px;
  }
  
  .information {
    margin: auto;
    width: 70%;
  }
  
  li {
    display: flex;
    color: aliceblue;
    /* padding: 1px; */
    margin: 15px auto;
    flex-wrap: nowrap;
    justify-content:start;
    list-style-type: none;
  }
  
  
  details {
      border-radius: 4px;
      padding: .5em .5em 0;
      
  }
  
  details > summary {
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: rgb(44, 14, 44);
    color: darkturquoise;
  }
  
  
  .d-content {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }
/* Information ends */
